body {
    background-color: #b8ecea    ;
  }

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
  outline: 2px solid #81b1b3;
}

[type=checkbox] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=checkbox] + img {
  cursor: pointer;
}

[type=checkbox]:checked + img {
outline: 2px solid #81b1b3;
}
  
img {
  width: 7rem;
  height: 7rem;
  padding: 0.8rem;
  margin: 0.5rem;
}

.choice-card {
  border: none;
}

.container{
  display: flex;
}
