ul > li {
  list-style: none;
}

.card-img-top {
  width: 88%;
  height: 15vw;
  object-fit: cover;
}

.thumbnail {
  width: 6vw;
  height: 6vw;
  float: rounded float-left;
  object-fit: cover;
  margin: mr-2;
}

card-footer {
  height: 10px;
}